body {
  color: #2a2a2a;
  background-color: white;
}
/* цвет основного текста #212121 ; */
/* вторичный цвет СЕРЫЙ  #757575; */
/* белый #FFFFFF;    */
/* АКЦЕНТ СИНИЙ   #2196F3;*/
/* Серый цвет rgba(117, 117, 117, 1) */
/* Белый чисто для почты и тел в футере rgba(255, 255, 255, 0,6) */
/* втоичный цвет фона #F5F4FA; */

/* ШАПКА ПРОФИЛЯ  */

.span .color-studio {
  color: #212121;
}
.span .color-web {
  color: #2196f3;
}

.ul .site-nav {
  list-style: none;
}
